@charset "UTF-8";html{line-height:1.15;-webkit-text-size-adjust:100%;}
body{margin:0;}
h1{font-size:2em;margin:0.67em 0;}
hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible;}
pre{font-family:monospace, monospace;font-size:1em;}
a{background-color:transparent;}
abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted;}
b,
strong{font-weight:bolder;}
code,
kbd,
samp{font-family:monospace, monospace;font-size:1em;}
small{font-size:80%;}
sub,
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
img{border-style:none;}
button,
input,
optgroup,
select,
textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0;}
button,
input{overflow:visible;}
button,
select{text-transform:none;}
button,
[type="button"],
[type="reset"],
[type="submit"]{-webkit-appearance:button;}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}
fieldset{padding:0.35em 0.75em 0.625em;}
legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}
progress{vertical-align:baseline;}
textarea{overflow:auto;}
[type="checkbox"],
[type="radio"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0;}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{height:auto;}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
details{display:block;}
summary{display:list-item;}
template{display:none;}
[hidden]{display:none;}
.slick-slider{position:relative;display:block;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}
.slick-list{position:relative;overflow:hidden;display:block;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;cursor:hand;}
.slick-slider .slick-track,
.slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.slick-track{position:relative;left:0;top:0;display:block;margin-left:auto;margin-right:auto;}
.slick-track:before, .slick-track:after{content:"";display:table;}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{float:left;height:100%;min-height:1px;display:none;}
[dir="rtl"] .slick-slide{float:right;}
.slick-slide img{display:block;}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
.slick-arrow.slick-hidden{display:none;}
.slick-prev,
.slick-next{position:absolute;display:block;height:20px;width:20px;line-height:0px;font-size:0px;cursor:pointer;background:transparent;color:transparent;top:50%;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%);padding:0;border:none;outline:none;}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus{outline:none;background:transparent;color:transparent;}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before{opacity:1;}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before{opacity:0.25;}
.slick-prev:before,
.slick-next:before{font-family:"slick";font-size:20px;line-height:1;color:white;opacity:0.75;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.slick-prev{left:-25px;}
[dir="rtl"] .slick-prev{left:auto;right:-25px;}
.slick-prev:before{content:"←";}
[dir="rtl"] .slick-prev:before{content:"→";}
.slick-next{right:-25px;}
[dir="rtl"] .slick-next{left:-25px;right:auto;}
.slick-next:before{content:"→";}
[dir="rtl"] .slick-next:before{content:"←";}
.slick-dotted.slick-slider{margin-bottom:30px;}
.slick-dots{position:absolute;bottom:-25px;list-style:none;display:block;text-align:center;padding:0;margin:0;width:100%;}
.slick-dots li{position:relative;display:inline-block;height:20px;width:20px;margin:0 5px;padding:0;cursor:pointer;}
.slick-dots li button{border:0;background:transparent;display:block;height:20px;width:20px;outline:none;line-height:0px;font-size:0px;color:transparent;padding:5px;cursor:pointer;}
.slick-dots li button:hover, .slick-dots li button:focus{outline:none;}
.slick-dots li button:hover:before, .slick-dots li button:focus:before{opacity:1;}
.slick-dots li button:before{position:absolute;top:0;left:0;content:"•";width:20px;height:20px;font-family:"slick";font-size:6px;line-height:20px;text-align:center;color:black;opacity:0.25;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.slick-dots li.slick-active button:before{color:black;opacity:0.75;}
.irs{position:relative;display:block;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.irs-line{position:relative;display:block;overflow:hidden;outline:none !important;}
.irs-line-left, .irs-line-mid, .irs-line-right{position:absolute;display:block;top:0;}
.irs-line-left{left:0;width:11%;}
.irs-line-mid{left:9%;width:82%;}
.irs-line-right{right:0;width:11%;}
.irs-bar{position:absolute;display:block;left:0;width:0;}
.irs-bar-edge{position:absolute;display:block;top:0;left:0;}
.irs-shadow{position:absolute;display:none;left:0;width:0;}
.irs-slider{position:absolute;display:block;cursor:default;z-index:1;}
.irs-slider.type_last{z-index:2;}
.irs-min{position:absolute;display:block;left:0;cursor:default;}
.irs-max{position:absolute;display:block;right:0;cursor:default;}
.irs-from, .irs-to, .irs-single{position:absolute;display:block;top:0;left:0;cursor:default;white-space:nowrap;}
.irs-grid{position:absolute;display:none;bottom:0;left:0;width:100%;height:20px;}
.irs-with-grid .irs-grid{display:block;}
.irs-grid-pol{position:absolute;top:0;left:0;width:1px;height:8px;background:#000;}
.irs-grid-pol.small{height:4px;}
.irs-grid-text{position:absolute;bottom:0;left:0;white-space:nowrap;text-align:center;font-size:9px;line-height:9px;padding:0 3px;color:#000;}
.irs-disable-mask{position:absolute;display:block;top:0;left:-1%;width:102%;height:100%;cursor:default;background:transparent;z-index:2;}
.lt-ie9 .irs-disable-mask{background:#000;filter:alpha(opacity=0);cursor:not-allowed;}
.irs-disabled{opacity:0.4;}
.irs-hidden-input{position:absolute !important;display:block !important;top:0 !important;left:0 !important;width:0 !important;height:0 !important;font-size:0 !important;line-height:0 !important;padding:0 !important;margin:0 !important;overflow:hidden;outline:none !important;z-index:-9999 !important;background:none !important;border-style:solid !important;border-color:transparent !important;}
.irs{height:55px;}
.irs-with-grid{height:75px;}
.irs-line{height:10px;top:33px;background:#EEE;background:-webkit-gradient(linear, left top, left bottom, color-stop(-50%, #DDD), color-stop(150%, #FFF));background:-webkit-linear-gradient(top, #DDD -50%, #FFF 150%);background:-o-linear-gradient(top, #DDD -50%, #FFF 150%);background:linear-gradient(to bottom, #DDD -50%, #FFF 150%);border:1px solid #CCC;-webkit-border-radius:16px;border-radius:16px;-moz-border-radius:16px;}
.irs-line-left{height:8px;}
.irs-line-mid{height:8px;}
.irs-line-right{height:8px;}
.irs-bar{height:10px;top:33px;border-top:1px solid #428bca;border-bottom:1px solid #428bca;background:#428bca;background:-webkit-gradient(linear, left bottom, left top, from(#428bca), to(#7fc3e8));background:-webkit-linear-gradient(bottom, #428bca 0%, #7fc3e8 100%);background:-o-linear-gradient(bottom, #428bca 0%, #7fc3e8 100%);background:linear-gradient(to top, #428bca 0%, #7fc3e8 100%);}
.irs-bar-edge{height:10px;top:33px;width:14px;border:1px solid #428bca;border-right:0;background:#428bca;background:-webkit-gradient(linear, left bottom, left top, from(#428bca), to(#7fc3e8));background:-webkit-linear-gradient(bottom, #428bca 0%, #7fc3e8 100%);background:-o-linear-gradient(bottom, #428bca 0%, #7fc3e8 100%);background:linear-gradient(to top, #428bca 0%, #7fc3e8 100%);-webkit-border-radius:16px 0 0 16px;border-radius:16px 0 0 16px;-moz-border-radius:16px 0 0 16px;}
.irs-shadow{height:2px;top:38px;background:#000;opacity:0.3;-webkit-border-radius:5px;border-radius:5px;-moz-border-radius:5px;}
.lt-ie9 .irs-shadow{filter:alpha(opacity=30);}
.irs-slider{top:25px;width:27px;height:27px;border:1px solid #AAA;background:#DDD;background:-webkit-gradient(linear, left top, left bottom, from(white), color-stop(20%, gainsboro), to(white));background:-webkit-linear-gradient(top, white 0%, gainsboro 20%, white 100%);background:-o-linear-gradient(top, white 0%, gainsboro 20%, white 100%);background:linear-gradient(to bottom, white 0%, gainsboro 20%, white 100%);-webkit-border-radius:27px;border-radius:27px;-moz-border-radius:27px;-webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.3);box-shadow:1px 1px 3px rgba(0, 0, 0, 0.3);cursor:pointer;}
.irs-slider.state_hover, .irs-slider:hover{background:#FFF;}
.irs-min, .irs-max{color:#333;font-size:12px;line-height:1.333;text-shadow:none;top:0;padding:1px 5px;background:rgba(0, 0, 0, 0.1);-webkit-border-radius:3px;border-radius:3px;-moz-border-radius:3px;}
.lt-ie9 .irs-min, .lt-ie9 .irs-max{background:#ccc;}
.irs-from, .irs-to, .irs-single{color:#fff;font-size:14px;line-height:1.333;text-shadow:none;padding:1px 5px;background:#428bca;-webkit-border-radius:3px;border-radius:3px;-moz-border-radius:3px;}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single{background:#999;}
.irs-grid{height:27px;}
.irs-grid-pol{opacity:0.5;background:#428bca;}
.irs-grid-pol.small{background:#999;}
.irs-grid-text{bottom:5px;color:#99a4ac;}
@font-face{font-family:"RobotoRegular";font-weight:normal;font-style:normal;src:url("../fonts/RobotoRegular/RobotoRegular.woff2") format("woff2");src:url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff");}
@font-face{font-family:"RobotoBold";font-weight:normal;font-style:normal;src:url("../fonts/RobotoBold/RobotoBold.woff2") format("woff2");src:url("../fonts/RobotoBold/RobotoBold.woff") format("woff");}
::-webkit-input-placeholder{color:#666;}
::-moz-placeholder{color:#666;}
:-ms-input-placeholder{color:#666;}
::-ms-input-placeholder{color:#666;}
::placeholder{color:#666;}
::-moz-selection{background-color:#009adf;color:#fff;}
::selection{background-color:#009adf;color:#fff;}
html, body{height:100%;}
a{text-decoration:none;outline:none;}
html{-webkit-box-sizing:border-box;box-sizing:border-box;}
html *, html *:before, html *:after{-webkit-box-sizing:inherit;box-sizing:inherit;}
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset, img, abbr{border:0;}
address, caption, cite, code, dfn, em, strong, th, var{font-style:normal;font-weight:normal;}
ul li{list-style:none;}
caption, th{text-align:left;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input, textarea, select{font-family:inherit;font-size:inherit;font-weight:inherit;}
legend{color:#000;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main{display:block;}
img{max-width:100%;height:auto;}
strong{font-weight:bold;}
.container{max-width:1170px;padding-left:15px;padding-right:15px;margin:0 auto;}
@media screen and (max-width:1170px){.container{padding-left:15px;padding-right:15px;}
}
@media screen and (max-width:992px){.container{padding-left:15px;padding-right:15px;}
}
@media screen and (max-width:768px){.container{padding-left:15px;padding-right:15px;}
}
@media screen and (max-width:480px){.container{padding-left:15px;padding-right:15px;}
}
@media screen and (max-width:320px){.container{padding-left:15px;padding-right:15px;}
}
body{font-size:14px;min-width:320px;position:relative;line-height:1.65;font-family:"RobotoRegular", "Arial", sans-serif;background-color:#eef3f5;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;flex-direction-height:100vh;overflow-x:hidden;color:#131313;}
body input, body textarea{border:#666 1px solid;outline:none;}
body input:focus:required:invalid, body textarea:focus:required:invalid{border-color:red;}
body input:required:valid, body textarea:required:valid{border-color:green;}
.main-header, .main-footer{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;}
.main-content{-webkit-box-flex:1;-webkit-flex:1 0 auto;-ms-flex:1 0 auto;flex:1 0 auto;}
.button{display:inline-block;padding:15px 30px;background-color:#009adf;color:#fff;font-size:16px;-webkit-border-radius:5px;border-radius:5px;border-bottom:5px solid #217fb4;margin-top:40px;-webkit-transition:opacity .25s ease;-o-transition:opacity .25s ease;transition:opacity .25s ease;cursor:pointer;outline:none;}
.button:hover{opacity:.8;}
.button--contacts{margin-top:20px;}
.button--charter{display:block;text-align:center;margin-top:30px;}
.button--popup{margin:20px 0;display:block;width:100%;}
.main-header{padding-top:55px;}
.main-header__wrapper{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;background-color:#fff;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;height:90px;}
@media screen and (max-width:1170px){.main-header__wrapper{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;height:auto;padding-top:15px;padding-bottom:15px;}
}
.logo{display:inline-block;width:124px;height:60px;margin-left:20px;}
@media screen and (max-width:1170px){.logo{margin-bottom:10px;}
}
.logo img{display:block;}
.main-menu ul{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.main-menu li{margin-right:45px;}
@media screen and (max-width:1170px){.main-menu li{margin-right:30px;}
}
.main-menu li a{position:relative;display:block;text-decoration:none;color:#131313;font-family:"RobotoBold", "Arial", sans-serif;line-height:90px;text-transform:uppercase;}
@media screen and (max-width:1170px){.main-menu li a{line-height:60px;opacity:.85;}
}
.main-menu li:last-child{margin-right:25px;}
.main-menu li.active a::after{position:absolute;content:'';width:100%;height:2px;bottom:0;left:0;background-color:#009adf;}
.btn_mnu{width:50px;height:50px;display:none;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;background-color:transparent;cursor:pointer;position:relative;margin-right:20px;padding:10px;}
.btn_row{height:2px;width:60%;margin:2px 0;background-color:#000;position:relative;-webkit-transition:all .5s;-o-transition:all .5s;transition:all .5s;}
.btn_row:nth-child(1){width:60%;}
.btn_row:nth-child(2){width:75%;}
.btn_row:nth-child(3){width:95%;}
.btn_mnu.active .btn_row:first-child{-webkit-transform:rotate(-135deg);-ms-transform:rotate(-135deg);transform:rotate(-135deg);top:6px;width:95%;}
.btn_mnu.active .btn_row:last-child{-webkit-transform:rotate(-225deg);-ms-transform:rotate(-225deg);transform:rotate(-225deg);top:-6px;}
.btn_mnu.active .btn_row:nth-child(2){opacity:0;}
.main-content{margin-top:40px;}
.main-content__wrapper{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;display:flex;flex-wrap:wrap;margin-left:-15px;margin-right:-15px;}
@media screen and (max-width:992px){.main-content__wrapper{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
}
.sidebar{width:-webkit-calc(33.33333% - 30px);width:calc(33.33333% - 30px);-webkit-box-sizing:border-box;box-sizing:border-box;margin-left:15px;margin-right:15px;word-wrap:break-word;}
@media screen and (max-width:992px){.sidebar{width:-webkit-calc(100% - 30px);width:calc(100% - 30px);}
}
.sidebar-menu{background-color:#fff;padding:20px 0;margin-bottom:30px;}
.sidebar-menu ul li.active a{background-color:#009adf;color:#fff;}
.sidebar-menu ul li a{display:block;padding:10px 30px;color:#131313;font-size:16px;-webkit-transition:background-color .35s ease, opacity .25s ease;-o-transition:background-color .35s ease, opacity .25s ease;transition:background-color .35s ease, opacity .25s ease;}
@media screen and (max-width:992px){.sidebar-menu ul li a{font-size:14px;}
}
.sidebar-menu ul li a:hover{opacity:.75;}
.content{color:#3d3d3d;line-height:20px;width:-webkit-calc(66.66667% - 30px);width:calc(66.66667% - 30px);-webkit-box-sizing:border-box;box-sizing:border-box;margin-left:15px;margin-right:15px;word-wrap:break-word;}
@media screen and (max-width:992px){.content{width:-webkit-calc(100% - 30px);width:calc(100% - 30px);}
}
.content-header{color:#131313;font-size:24px;font-family:"RobotoBold", "Arial", sans-serif;margin-bottom:35px;}
@media screen and (max-width:768px){.content-header{font-size:20px;}
}
.content p{margin-bottom:15px;}
.content p span{text-transform:uppercase;color:#009adf;font-family:"RobotoBold", "Arial", sans-serif;}
.sidebar-goods{color:#3d3d3d;}
@media screen and (max-width:992px){.sidebar-goods{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-15px;margin-right:-15px;}
}
.sidebar-item{background-color:#fff;margin-bottom:30px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
@media screen and (max-width:992px){.sidebar-item{width:-webkit-calc(50% - 30px);width:calc(50% - 30px);-webkit-box-sizing:border-box;box-sizing:border-box;margin-left:15px;margin-right:15px;word-wrap:break-word;}
}
@media screen and (max-width:480px){.sidebar-item{width:-webkit-calc(100% - 30px);width:calc(100% - 30px);}
}
.sidebar-item a{display:inline-block;}
.sidebar-item a img{width:100%;height:auto;display:block;}
.sidebar-item__content{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;height:100%;padding:30px;}
@media screen and (max-width:992px){.sidebar-item__content{padding:15px;}
}
.sidebar-item__content h2{font-size:18px;text-transform:uppercase;line-height:22px;margin-bottom:20px;}
@media screen and (max-width:992px){.sidebar-item__content h2{font-size:14px;}
}
.sidebar-item__content p{margin-bottom:10px;}
@media screen and (max-width:992px){.sidebar-item__content p{font-size:12px;}
}
.sidebar-item__header{text-decoration:none;color:#3d3d3d;-webkit-transition:color .25s ease;-o-transition:color .25s ease;transition:color .25s ease;}
.sidebar-item__header:hover{color:#009adf;}
.sidebar-item__more{display:inline-block;color:#009adf;text-decoration:underline;margin-top:auto;}
.main-footer{background-color:#1a1a1a;color:#666;padding:50px 0;margin-top:60px;}
.main-footer__wrapper{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-15px;margin-right:-15px;}
.copyright{width:-webkit-calc(25% - 30px);width:calc(25% - 30px);-webkit-box-sizing:border-box;box-sizing:border-box;margin-left:15px;margin-right:15px;word-wrap:break-word;}
@media screen and (max-width:992px){.copyright{width:-webkit-calc(100% - 30px);width:calc(100% - 30px);text-align:center;}
}
.copyright__link{font-size:12px;color:inherit;-webkit-transition:color .25s ease;-o-transition:color .25s ease;transition:color .25s ease;}
.copyright__link:hover{color:#009adf;}
.copyright__info{font-size:10px;margin-top:56px;}
@media screen and (max-width:992px){.copyright__info{margin-top:30px;}
}
.fmenu-first{width:-webkit-calc(25% - 30px);width:calc(25% - 30px);-webkit-box-sizing:border-box;box-sizing:border-box;margin-left:15px;margin-right:15px;word-wrap:break-word;}
@media screen and (max-width:992px){.fmenu-first{width:-webkit-calc(50% - 30px);width:calc(50% - 30px);margin-top:15px;margin-bottom:15px;}
}
.fmenu-first ul{text-align:center;}
.fmenu-first ul li a{display:block;color:inherit;padding:5px;-webkit-transition:color .25s ease;-o-transition:color .25s ease;transition:color .25s ease;}
.fmenu-first ul li a:hover{color:#fff;}
.fmenu-first ul li a span{display:inline-block;min-width:120px;text-align:left;}
.fmenu-second{width:-webkit-calc(25% - 30px);width:calc(25% - 30px);-webkit-box-sizing:border-box;box-sizing:border-box;margin-left:15px;margin-right:15px;word-wrap:break-word;}
@media screen and (max-width:992px){.fmenu-second{width:-webkit-calc(50% - 30px);width:calc(50% - 30px);margin-top:15px;margin-bottom:15px;}
}
.fmenu-second ul li a{display:block;color:inherit;padding:5px;-webkit-transition:color .25s ease;-o-transition:color .25s ease;transition:color .25s ease;}
.fmenu-second ul li a:hover{color:#fff;}
.contacts{text-align:right;width:-webkit-calc(25% - 30px);width:calc(25% - 30px);-webkit-box-sizing:border-box;box-sizing:border-box;margin-left:15px;margin-right:15px;word-wrap:break-word;}
@media screen and (max-width:992px){.contacts{width:-webkit-calc(100% - 30px);width:calc(100% - 30px);text-align:center;margin-top:10px;}
}
.contacts__phone, .contacts__email{-webkit-transition:opacity .25s ease;-o-transition:opacity .25s ease;transition:opacity .25s ease;}
.contacts__phone:hover, .contacts__email:hover{opacity:.75;}
.contacts__phone{display:inline-block;margin-bottom:26px;font-size:20px;color:#009adf;}
.contacts__email{color:inherit;}
.socials-list{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;margin-top:40px;}
@media screen and (max-width:992px){.socials-list{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin-top:20px;}
}
.socials-list li{margin-right:25px;}
.socials-list li a{display:inline-block;width:32px;height:32px;line-height:32px;text-align:center;color:inherit;background-color:#252525;-webkit-border-radius:50%;border-radius:50%;-webkit-transition:color .25s ease;-o-transition:color .25s ease;transition:color .25s ease;}
.socials-list li a:hover{color:#fff;}
.socials-list li:last-child{margin-right:0;}
.socials-list--inverse{-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;}
.socials-list--inverse li a{-webkit-transition:opacity .25s ease-in-out;-o-transition:opacity .25s ease-in-out;transition:opacity .25s ease-in-out;background-color:#009adf;color:#fff;}
.socials-list--inverse li a:hover{opacity:.7;}
@media screen and (max-width:992px){.socials-list--inverse{margin-top:30px;}
}
.uslugi .directions{margin-top:40px;}
.directions{margin-top:85px;}
@media screen and (max-width:992px){.directions{margin-top:60px;}
}
@media screen and (max-width:480px){.directions{margin-top:30px;}
}
.directions__header{font-size:24px;font-family:"RobotoBold", "Arial", sans-serif;color:#131311;margin-bottom:35px;}
@media screen and (max-width:768px){.directions__header{font-size:20px;}
}
.direction-block{width:170px;height:220px;background-color:#fff;background-repeat:no-repeat;background-position:bottom center;}
.direction-block a{text-decoration:none;display:block;text-align:center;color:#009adf;padding:10px;margin-top:5px;line-height:20px;}
.slick-slide{outline:none;}
.slick-dots li button::before{font-size:20px;}
.slick-dots{bottom:-50px;}
.slick-slide{margin:0 15px;}
.slick-list{margin:0 -15px;}
.management{margin-top:70px;}
@media screen and (max-width:480px){.management{margin-top:50px;}
}
.management__header{font-family:"RobotoBold", "Arial", sans-serif;font-size:24px;color:#131313;margin-bottom:30px;}
@media screen and (max-width:768px){.management__header{font-size:20px;}
}
.management-items{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-15px;margin-right:-15px;}
@media screen and (max-width:768px){.management-items{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
}
.management-item{width:-webkit-calc(33.33333% - 30px);width:calc(33.33333% - 30px);-webkit-box-sizing:border-box;box-sizing:border-box;margin-left:15px;margin-right:15px;word-wrap:break-word;text-align:center;margin-bottom:30px;}
@media screen and (max-width:768px){.management-item{width:-webkit-calc(50% - 30px);width:calc(50% - 30px);}
}
@media screen and (max-width:480px){.management-item{width:-webkit-calc(100% - 30px);width:calc(100% - 30px);}
}
.management-item img{width:240px;height:340px;display:block;margin:auto;}
.management-item h4{font-size:18px;color:#3d3d3d;margin:20px 0 10px;text-align:center;}
.management-item p{text-align:center;margin:auto;max-width:215px;}
.structure-items{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-15px;margin-right:-15px;}
.structure-item{padding:25px;background-color:#fff;width:-webkit-calc(50% - 30px);width:calc(50% - 30px);-webkit-box-sizing:border-box;box-sizing:border-box;margin-left:15px;margin-right:15px;word-wrap:break-word;-webkit-transition:-webkit-box-shadow .25s ease;transition:-webkit-box-shadow .25s ease;-o-transition:box-shadow .25s ease;transition:box-shadow .25s ease;transition:box-shadow .25s ease, -webkit-box-shadow .25s ease;margin-bottom:30px;}
@media screen and (max-width:768px){.structure-item{width:-webkit-calc(100% - 30px);width:calc(100% - 30px);}
}
.structure-item:hover{-webkit-box-shadow:0 5px 10px rgba(0, 0, 1, 0.1);box-shadow:0 5px 10px rgba(0, 0, 1, 0.1);}
.structure-item a{display:block;text-decoration:none;-webkit-transition:opacity .25s ease;-o-transition:opacity .25s ease;transition:opacity .25s ease;}
.structure-item a:hover{opacity:.8;}
.structure-item a h2{font-size:16px;text-transform:uppercase;line-height:22px;color:#009adf;margin-bottom:10px;}
.structure-item small{display:block;font-size:12px;line-height:16px;opacity:.6;}
.structure-item p{color:#131313;margin-top:10px;}
.investment{margin-top:60px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-15px;margin-right:-15px;color:#131313;}
.investment-choice{-webkit-box-sizing:border-box;box-sizing:border-box;margin-left:15px;margin-right:15px;word-wrap:break-word;width:-webkit-calc(50% - 30px);width:calc(50% - 30px);}
@media screen and (max-width:1170px){.investment-choice{width:-webkit-calc(100% - 30px);width:calc(100% - 30px);}
}
.investment-choice__text{font-size:12px;margin-top:40px;line-height:18px;}
.investment-calc{-webkit-box-sizing:border-box;box-sizing:border-box;margin-left:15px;margin-right:15px;word-wrap:break-word;width:-webkit-calc(50% - 30px);width:calc(50% - 30px);}
@media screen and (max-width:1170px){.investment-calc{width:-webkit-calc(91.66667% - 30px);width:calc(91.66667% - 30px);margin:20px auto 0;}
}
.investment-calc__header{font-size:24px;margin-bottom:20px;}
@media screen and (max-width:1170px){.investment-calc__header{font-size:18px;}
}
.investment-summ{margin:20px 0 30px;}
.investment-summ__label{font-size:14px;margin-right:5px;}
.investment-summ__price{display:inline-block;padding:10px 30px;background-color:#fff;font-size:18px;}
.investment-wrapper{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
@media screen and (max-width:480px){.investment-wrapper{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
}
.investment-total__price, .investment-monthly__price{color:#009adf;font-size:18px;}
.investment-total__label, .investment-monthly__label{display:block;font-size:10px;}
.investment-total{padding:10px 20px;background-color:#fff;}
.investment-monthly{margin-right:30px;}
@media screen and (max-width:480px){.investment-monthly{margin-right:0;margin-top:30px;}
}
.investment-links{margin-top:35px;}
.investment-links a{font-size:14px;display:block;color:#009adf;text-decoration:underline;margin-bottom:15px;}
.order-items{position:relative;}
.radio-list{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
@media screen and (max-width:480px){.radio-list{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
}
.radio-list__item{width:50%;}
@media screen and (max-width:480px){.radio-list__item{width:100%;}
}
.checkbox-text{font-size:14px;margin-left:10px;line-height:18px;cursor:pointer;}
.checkbox-text small{display:block;opacity:.5;}
.checkbox-wrapper{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-top:10px;}
.checkbox-wrapper__elem{display:none;}
.checkbox-wrapper__elem:checked ~ .type-checkbox::after{background-color:#009adf;}
.type-checkbox{position:relative;display:block;width:24px;height:24px;background-color:#fff;border:2px solid #fff;-webkit-border-radius:50%;border-radius:50%;-webkit-transition:border-color .25s ease;-o-transition:border-color .25s ease;transition:border-color .25s ease;}
.type-checkbox:after{position:absolute;content:'';width:10px;height:10px;left:50%;top:50%;-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);-webkit-border-radius:50%;border-radius:50%;-webkit-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease;}
.type-checkbox:hover{border-color:#009adf;}
.type-checkbox:active{border-color:#ececec;}
.popular-program{position:absolute;bottom:5px;right:75px;background-color:#009adf;color:#fff;text-transform:uppercase;padding:4px 9px;font-size:10px;}
.popular-program::before{position:absolute;content:'';top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);left:-8px;width:0px;height:0px;border-style:solid;border-width:5px 8px 5px 0;border-color:transparent #009adf transparent transparent;}
@media screen and (max-width:1170px){.popular-program{position:relative;-webkit-align-self:flex-end;-ms-flex-item-align:end;align-self:flex-end;right:20px;}
}
@media screen and (max-width:480px){.popular-program{position:absolute;right:10px;}
}
.rangeslider__fill{background-color:red;}
@media screen and (max-width:992px){.contacts-links{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
}
@media screen and (max-width:480px){.contacts-links{-webkit-box-align:start;-webkit-align-items:flex-start;-ms-flex-align:start;align-items:flex-start;}
}
.contacts-links__phone{margin:15px 0;}
.contacts-links__mail{margin-bottom:30px;}
.contacts-links__phone a, .contacts-links__mail a{color:inherit;font-size:16px;display:block;-webkit-transition:color .25s ease;-o-transition:color .25s ease;transition:color .25s ease;}
.contacts-links__phone a .svg-inline--fa, .contacts-links__mail a .svg-inline--fa{color:#009adf;font-size:20px;margin-right:15px;width:20px;height:20px;text-align:center;line-height:20px;}
.contacts-links__phone a:hover, .contacts-links__mail a:hover{color:#009adf;}
.contacts-links__address{display:block;margin:15px 0 10px;color:#009adf;font-size:16px;}
@media screen and (max-width:992px){.contacts-links__address{font-size:14px;margin:5px 0;}
}
.charter-items{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-15px;margin-right:-15px;}
@media screen and (max-width:768px){.charter-items{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
}
.charter-item{-webkit-box-sizing:border-box;box-sizing:border-box;margin-left:15px;margin-right:15px;word-wrap:break-word;width:-webkit-calc(50% - 30px);width:calc(50% - 30px);margin-bottom:30px;-webkit-transition:-webkit-box-shadow .25s ease;transition:-webkit-box-shadow .25s ease;-o-transition:box-shadow .25s ease;transition:box-shadow .25s ease;transition:box-shadow .25s ease, -webkit-box-shadow .25s ease;}
@media screen and (max-width:768px){.charter-item{width:-webkit-calc(75% - 30px);width:calc(75% - 30px);}
}
@media screen and (max-width:480px){.charter-item{width:-webkit-calc(100% - 30px);width:calc(100% - 30px);}
}
.charter-item__link{display:block;outline:none;}
.charter-item img{display:block;width:100%;height:140px;}
.charter-item__header{display:block;font-size:16px;color:#009adf;margin-bottom:10px;-webkit-transition:opacity .25s ease;-o-transition:opacity .25s ease;transition:opacity .25s ease;}
.charter-item__header:hover{opacity:.75;}
.charter-item__content{padding:30px;background-color:#fff;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.charter-item__content-bottom{margin-top:auto;}
.charter-item__price{display:block;font-size:20px;color:#009adf;text-align:center;font-weight:800;margin-top:30px;}
.charter-item__more{display:block;text-align:center;text-decoration:underline;color:inherit;margin-top:20px;-webkit-transition:color .25s ease;-o-transition:color .25s ease;transition:color .25s ease;}
.charter-item__more:hover{color:#009adf;}
.charter-item:hover{-webkit-box-shadow:0 5px 10px rgba(0, 0, 1, 0.1);box-shadow:0 5px 10px rgba(0, 0, 1, 0.1);}
.product-descr ul li{margin-bottom:15px;}
.product-descr ul li span{font-weight:bold;margin-left:5px;}
.product-descr ul li a{display:inline-block;margin-left:5px;color:#009adf;-webkit-transition:opacity .25s ease;-o-transition:opacity .25s ease;transition:opacity .25s ease;}
.product-descr ul li a:hover{opacity:.75;}
.product-img{width:370px;height:220px;overflow:hidden;float:right;margin-left:40px;}
@media screen and (max-width:768px){.product-img{float:none;margin-left:0;margin-bottom:20px;}
}
.modal{position:fixed;width:100%;height:100%;z-index:100;left:0;top:0;right:0;bottom:0;background-color:rgba(0, 0, 0, 0.6);display:none;}
.popup{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);background-color:#fff;width:400px;}
@media screen and (max-width:480px){.popup{width:auto;padding:40px;}
}
.popup-content{padding:40px 60px;}
@media screen and (max-width:480px){.popup-content{padding:0;}
}
.popup-content__header{font-size:18px;color:#009adf;text-align:center;margin-bottom:5px;}
.popup-content__descr{font-size:12px;text-align:center;}
.popup-content__close{position:absolute;right:40px;top:20px;cursor:pointer;font-size:18px;-webkit-transition:color .25s ease, opacity .5s ease;-o-transition:color .25s ease, opacity .5s ease;transition:color .25s ease, opacity .5s ease;opacity:.2;}
@media screen and (max-width:480px){.popup-content__close{right:25px;}
}
.popup-content__close:hover{color:#009adf;opacity:1;-webkit-transition:color .25s ease, opacity .5s ease;-o-transition:color .25s ease, opacity .5s ease;transition:color .25s ease, opacity .5s ease;}
.popup-content__secure{display:block;max-width:250px;text-align:center;margin:0 auto;}
.popup-content__secure-link{color:#009adf;-webkit-transition:opacity .25s ease;-o-transition:opacity .25s ease;transition:opacity .25s ease;}
.popup-content__secure-link:hover{opacity:.6;}
.popup-content__success{position:absolute;width:100%;height:100%;left:0;top:0;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;display:none;z-index:10;}
.popup-content__success-text{text-transform:uppercase;font-family:"RobotoBold", "Arial", sans-serif;max-width:60%;font-size:18px;text-align:center;color:#009adf;}
.popup-content__success ~ *{-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;}
.popup-content__success--active{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.popup-content__success--active ~ *{opacity:.5;-webkit-filter:blur(10px);filter:blur(10px);}
.popup-form{margin-top:20px;}
.popup-form__input{display:block;width:100%;padding:20px 0;margin-bottom:20px;border:1px solid rgba(19, 19, 19, 0.15);text-indent:20px;outline:none;color:#131313;-webkit-transition:border-color .5s ease-in-out;-o-transition:border-color .5s ease-in-out;transition:border-color .5s ease-in-out;}
.popup-form__input:-moz-placeholder, .popup-form__input::-moz-placeholder{color:#131313;opacity:1;}
.popup-form__input::-webkit-input-placeholder{color:#131313;}
.popup-form__input--confirm{border:2px solid #008000;color:#008000;}
.popup-form__input--error{border:2px solid #cc0000;color:#cc0000;}
@media screen and (max-width:800px){.main-menu ul{display:none;position:absolute;width:100%;text-align:center;background-color:#fff;left:0;right:0;top:100%;}
.main-menu ul li{margin:0;}
.main-menu ul li:last-child{margin-right:0;}
.main-menu ul li.active a::after{width:0;}
.main-menu ul a{line-height:normal;padding:10px;}
.main-menu ul a:hover{background-color:#009adf;color:#fff;}
.main-header__wrapper{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}
.btn_mnu{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
}